.contact-page {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: #1b1612;
   @include size-section(88%, auto);
   padding-bottom: 70px;

   .header-section {
      @extend %header-for-section;
   }

   .contact-box {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .contact-form {
         flex-basis: 55%;
         padding: 0;
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;

         h2 {
            font-size: 2.5rem;
            color: $primarTextColor;
            text-transform: capitalize;
            text-align: center;
            line-height: 80px;
            width: 100%;
         }

         form {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: space-between;

            .custom-field {
               background-color: $bgColorSecond;
               border: none;
               padding: 15px;
               font-size: 1.7rem;
               margin: 15px 0;
               border-radius: 10px;
               color: $secondaryTextColor;
            }

            .form-name {
               flex-basis: 45%;
            }

            .form-email {
               flex-basis: 45%;
            }

            .form-subject {
               flex-basis: 100%;
            }

            textarea#form-message {
               flex-basis: 100%;
               resize: none;
               border: none;
               height: 150px;
            }

            .form-btn {
               background-color: $accentColor;
               border: none;
               margin: 20px auto;
               padding: 20px 30px;
               font-size: 2rem;
               color: $bgColorSecond;
               border-radius: 10px;
               justify-self: self-end;
               cursor: pointer;
               transition: 0.8s ease;
            }

            @media screen and (max-width: 620px) {
               .form-name {
                  flex-basis: 100%;
               }

               .form-email {
                  flex-basis: 100%;
               }
            }
         }
      }

      .contact-info {
         flex-basis: 35%;
         background: url(../../../../img/photo-contact.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 20px;
         @include position(relative);
         z-index: 1;
         display: flex;
         flex-direction: column;

         &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            @include position(absolute, 0, auto, auto, 0);
            background-color: $bgColor;
            opacity: 70%;
            z-index: -1;
         }

         h2 {
            flex-basis: 80px;
            line-height: 80px;
            font-size: 2.5rem;
            color: $primarTextColor;
            text-transform: capitalize;
            text-align: center;
         }

         address {
            padding: 0 80px;
            font-style: unset;

            .contact-address {
               display: flex;
               flex-wrap: wrap;
               padding: 30px 0;
               width: 100%;

               p {
                  font-size: 1.9rem;
                  flex-basis: 100%;
                  color: $primarTextColor;

                  i {
                     padding: 5px;
                     margin-right: 15px;
                  }
               }

               h3 {
                  color: $primarTextColor;
                  font-size: 1.8rem;
                  margin-left: 43px;
                  flex-basis: 100%;
               }
            }
         }
      }

      @media screen and (max-width: 1093px) {
         .contact-form {
            flex-basis: 80%;
            padding-bottom: 50px;
         }

         .contact-info {
            flex-basis: 80%;
         }
      }

      @media screen and (max-width: 960px) and (max-height:620px) {

         .contact-form {
            flex-basis: 80%;
         }

         .contact-info {
            flex-basis: 80%;

            address {
               padding: 0 40px;
               display: flex;
               flex-wrap: wrap;

               .contact-address {
                  flex-basis: 50%;
               }
            }
         }

      }

      @media screen and (max-width: 855px) and (max-height:620px) {
         .contact-info address {
            .contact-address {
               flex-basis: 100%;

               h3,
               p {
                  font-size: 2.1rem;
               }
            }
         }
      }
   }

   @media screen and (max-width: 440px) {
      .contact-box {
         @include size-section(280px);
         flex-direction: row;
      }
   }

   @media screen and (min-width: 1200px) and (min-height: 1000px) and(orienattion: landscape) {
      .contact-box {
         max-height: 50vh;
      }
   }
}