%header-for-section {
   margin: 50px auto 40px auto;
   text-align: center;
   flex-basis: 120px;

   h1 {
      font-size: 4.5rem;
      padding: 15px;
      color: $primarTextColor;
   }

   h2 {
      font-size: 2rem;
      font-weight: lighter;
   }

   span {
      color: $accentColor;
   }
}