$bgColor: #171717; //color for background
$bgColorNav: #020202; //color for nav background

$greyTextColor: #9f9f9f; // primary color for text
$rasberryColorText: #c70039; //accent color for text
$BrightWhiteColor: #f3f3f3;