$bgColorLighter:#1a1511; // 2 #251c21; //#171717; //color for background - HOME
$bgColorDarker: #101010; //color for background - PAGES
$bgServicesCard: #191919; //color for background - CARDS
$bgColor: #1b1612;
$bgColorNav: #221a1d; //#020202; //color for nav background

$greyTextColor: #9f9f9f; // primary color for text
$rasberryColorText: #feb611; //#c70039; //accent color for text
$BrightWhiteColor: #f3f3f3;
$greyColor: #2b2929;