html {
   font-size: 10px;
   /*for using REM units*/
   font-family: $mainFont;
}

// ustawiania dla przeglądarki / body

body {
   // width: 100%;
   // height: 100vh;
   background-color: $bgColor;
   color: $greyTextColor;

   .wrapper {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
   }
}