.header {
   @include position(fixed, 0, auto, auto, 0);
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   transition: 0.8s ease-out;
   z-index: 99;
   pointer-events: none;
}