%colorWord {
   color: $rasberryColorText;
}

main {
   width: 100%;
   min-height: 100vh;
   position: relative;
}


.home-page {
   height: 100vh;
   width: 100%;
   @include position(relative, unset, unset, unset, unset);
   display: flex;
   background-image: linear-gradient(#28201f, #241b20, #1b1612 78%);



   .header-section {
      @include position(absolute, 20%, auto, auto, 0);
      padding: 20px;
      width: 100%;
      text-align: center;
      line-height: 1.8;


      h1 {
         font-size: 6.7rem;
         color: $BrightWhiteColor;
         font-weight: 700;
         transform: scale(.7);
         transition: 0.9s ease-out;

         &.isEnlarge {
            transform: scale(1.05);

            span {
               text-shadow: 2px 2px 120px #feb600;
            }
         }
      }

      h2 {
         font-size: 3rem;
         font-weight: 200;
         letter-spacing: 1px;
         padding-bottom: 30px;
      }

      span {
         @extend %colorWord;
         transition-delay: 0.9s;
         transition: 0.9s;
      }

      .message-me {
         // @include size-section(170px, 70px);
         // font-size: 2rem;
         // color: $rasberryColorText;
         // border: solid 1px $rasberryColorText;
         @include button;
      }

   }

   .hero-image {
      flex-basis: 33%;
      height: 100%;
      margin: 0 auto 0 0;
   }

   .social {
      @include position(absolute, auto, 0, 10%, 0);
      display: flex;
      padding: 20px;
      justify-content: center;

      .fab {
         font-size: 2.8rem;
         padding: 15px;
         cursor: pointer;

         &:hover {
            color: $BrightWhiteColor;
         }

      }
   }

}