.nav {
   //ma 100% headera - header ma 100% wrappera == od lewej do prawej
   height: 100%;
   flex-basis: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;

   &__menuBtn {
      flex-basis: 40px;
      height: 40px;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;
      z-index: 99;

      &:hover .nav__menuLine {
         transform: translateX(0);
         background-color: $BrightWhiteColor;
         // box-shadow: 0 0 30px $BrightWhiteColor; 

      }
   }

   &__menuLine {
      margin: 3px 0;
      background-color: $greyTextColor;
      flex-basis: 2px;
      transition: 0.3s ease;


      &:nth-of-type(1) {
         transform: translateX(60%);
      }

      &:nth-of-type(2) {
         transform: translateX(30%);
      }


   }

   &__list {
      @include absoluteElement($left: 0, $top:0);
      display: flex;
      flex-direction: column;
      background-color: $bgColorNav;
      justify-content: center;
      // flex-basis: 100vh; // bo jednostka vh nie działa
      width: 100%;
      height: 100vh;
   }

   &__itemList {
      //tutaj piszemy właściwości nt. elementu a nie w list
      text-transform: uppercase;
      padding: 15px;
      font-size: 3rem;
      text-align: center;
      cursor: pointer;
   }
}