.nav {
   height: 100%;
   flex-basis: 100%;
   position: sticky;
   top: 0;
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   align-items: center;

   &::after {
      content: "";
      display: block;
      background-color: $accentColor;
      transform: translateY(-50%);
      @include position(absolute, 50%, 0, auto, auto);
      width: 25px;
      height: 25px;
      opacity: 0;
      z-index: 99;
   }

   &.isSticky {

      &::after {
         opacity: 1;
      }

      .menu-btn {
         margin-right: 40px;
      }
   }

   .menu-btn {
      flex-basis: 40px;
      height: 40px;
      margin-right: 60px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;
      @include position(relative);
      z-index: 99;
      transition: 0.8s ease-out;
      pointer-events: all;



      &:hover .menu-line,
      &:hover .menu-line:nth-of-type(1),
      &:hover .menu-line:nth-of-type(2) {
         transform: translateX(0);
         background-color: $primarTextColor;
         // box-shadow: 0 0 30px $primarTextColor;
      }

      .menu-line {
         margin: 3px 0;
         background-color: $secondaryTextColor;
         flex-basis: 2px;
         transition: 0.3s ease;

         &:nth-of-type(1) {
            transform: translateX(60%);
         }

         &:nth-of-type(2) {
            transform: translateX(30%);
         }

         &.btn-active {
            transform: translateX(0);
         }
      }
   }

   .pages-list {
      @include position(absolute, 0, auto, auto, 0);
      display: flex;
      flex-direction: column;
      background-color: $bgColorSecond;
      justify-content: center;
      width: 100%;
      height: 100vh;
      transition: 0.6s ease-out;
      transform: translateY(-100%);
      z-index: 95;
      overflow: hidden;
      pointer-events: all;

      &.isCollapse {
         transform: translateY(0);
      }

      .item-list {
         text-transform: uppercase;
         padding: 15px;
         font-size: 3rem;
         text-align: center;
         cursor: pointer;

         a {
            @include position(relative);
            z-index: 99;
            display: block;
         }

         &:hover {
            color: $accentColor;
         }

         &:hover::after {
            letter-spacing: 8px;
            opacity: 0.2;
         }

         &::after {
            content: attr(data-section);
            display: block;
            opacity: 0;
            font-size: 17rem;
            letter-spacing: 200px;
            text-transform: uppercase;
            text-align: center;
            color: $accentColor;
            transition: 0.5s ease;
            @include position(fixed, 50%, auto, auto, 50%);
            transform: translate(-50%, -50%);
            z-index: -2;
            pointer-events: none;
            font-family: $threeLineFont;
         }

      }

      @media screen and (max-width: 810px) {
         .item-list:hover::after {
            opacity: 0;
         }
      }
   }
}